body {
    display: block;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 0;
}

a {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

    border-radius: 40px 40px 40px 40px;
}

.rImg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 45%;
    border-radius: 50%;
}

.sqImg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    max-height: 35%;
    min-width: 10%;
    min-height: 10%;
    border-radius: 30%;
}

.navContainer {
    padding: 0;
    z-index: 12;
    float: inherit;
    display: flex;
    line-height: 50px;
    height: 50px;
    width: 100vw;
    background-color: cornflowerblue;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    outline: 4px dotted #2ab53d;
    outline-offset: 0px;
}

.navContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0px;
}

.navContainer ul li a {
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: coral;
}

a:active {
    color: yellow;
}

.navContainer input {
    justify-content: flex-start;
    margin: 10px;
}

.pgTtl {
    text-align: center;
    text-shadow: -3px 4px 8px #0FA48F;
}

.mnBdy {
    display: block;
    margin: auto;
}

.mealOpt {
    display: flex;
    position: relative;
    height: 10%;
    width: 100%;
    background-color: bisque;
    z-index: 1;
    overflow: auto;
    max-width: 80vw;
}

.ser {
    display: flex;
    flex-direction: column;


}

.myColumn {
    position: relative;
    float: left;
    width: 20%;
    padding-top: 30px;
    overflow-y: scroll;
}

.rcpPg {
    display: block;
    margin: 10%;
}

@media (min-width:900px) {
    .mealOpt .myColumn .mnBdy {
        display: flex;
        justify-content: space-evenly;
    }


}